.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    background-color: 	#006400;
    color: white;
    top: 0;
    width: 1550px;
    position: fixed;
    margin-right: 150px;
    font-family: 'Noto Sans', sans-serif;
    
}
ul{
    display: flex;
    list-style: none;
    
   
}
li{
    padding: 10px;
    margin: 10px;
    
    
}
li:hover{
    color:white;
    background-color: #3CB371;
    
}
.muc{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 19px;
}
.anhbia{
    border-bottom: 1px solid grey;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


ul, ol{
    list-style: none;
}





hr{
    margin-left: 530px;
}

.logo{
    width: 60px;
    height: 60px;
}
img.logo{
    margin:0;
}


.dau{
    margin-left: 400px;
    margin-top: 60px;
    padding-bottom: 0;
    font-family: 'Noto Sans', sans-serif;

    
}
.search{
    margin-right: 100px;
}
footer.cuoi{
    width: 1519px;
    padding: 20px;
    background: #006400;
    border-bottom: 1px solid gray;
    font-family: 'Noto Sans', sans-serif;
}
.cuoi{
    display: flex;
    
}

footer.cuoi .p1{
    display: block;
    margin-right: 20px;
    width: 95%;
}
footer.cuoi .p2{
    display: block;
    width: 70%;
    
}
h2.end{
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: white;
    border-bottom: 1px solid white;
}

a.muccuoi{
    color: white;
    text-decoration: none;
}

p{
    color: white;
    
}
.cuoi.between{
    justify-content: space-between;
}
ul.ok{
    list-style: none;
    display: block;
    margin-right: 30px;
    font-weight: bold;
}
li.cuoicung{
    margin-bottom: 10px;
}
h3.end{
    color: white;
    font-weight: bold;
}
input{
    width: 300px;

}
.logocuoi{
    margin-top: 20px;
    margin-left: 90px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.lop1{
display: flex;
margin: 200px;
margin-top: 80px;
}
.lop2{
    margin: 30px;
}
.lop3{
    color: black;
    margin: 30px;
}
.tieude{
    margin-left: 550px;
    margin-top: 20px;
        
}